@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: #111111;
  }
}

@layer components {
  .dot-grid {
    background-image:
      radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.04) 1px, transparent 0);
    background-size: 18px 18px;
    background-position: 0 0;
  }
}

